#include "resource.h"

1 VERSIONINFO
 FILEVERSION VER_VERSION
 PRODUCTVERSION VER_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Crystice Softworks, Mist Poryvaev"
            VALUE "FileDescription", "QindieGL"
            VALUE "FileVersion", VER_VERSION_STR
            VALUE "InternalName", "opengl32.dll"
            VALUE "LegalCopyright", "Copyright (C) 2016, 2025"
            VALUE "OriginalFilename", "opengl32.dll"
            VALUE "ProductName", "QindieGL"
            VALUE "ProductVersion", VER_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

RES_ID_ORTHO_VS         RES_TYPE_SHADER_FILE                     "..\\code\\shaders\\ortho_vs.hlsl"

RES_ID_ORTHO_PS         RES_TYPE_SHADER_FILE                     "..\\code\\shaders\\ortho_ps.hlsl"